{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.lettering-0.6.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/share42.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block title %}<title>Главная страница</title>{% endblock %}
    </head>
    <body>
        {% block menu %}
        <div class="navbar navbar-fix">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span2">
                            <a class="brand" href="{% url index %}">KinoHire</a>
                        </div>
                        <form class="navbar-form pull-left offset1" action="/cinema/main/search/" method="get">
                        {% csrf_token %}
                            <input class="search-query" type="text" name="search" placeholder="Search">
                            <input class="btn" type="submit" value="Найти" />
                        </form>
                        <div class="pull-right">
                            <ul class="nav">
                                {% if user.is_active %}
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="#">{{ auth_user }}</a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="{% url logout %}">Выйти</a>
                                </li>
                                {% else %}
                                <li class="divider-vertical"></li>  
                                <li>
                                    <a href="{% url log %}">Вход</a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="{% url reg %}">Регистрация</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <a href="{% url index %}"><h2 class="cs-text" id="cs-text">Киноинформ</h2></a>
        <div class="container margin-top">
            <div class="row">
            {% block content %}
            
                {% for movies in movie reversed %}
                <div class="span3 film-info">
                    <div class="poster"><img class="img-rounded" src="{{ movies.poster.url }}" /></div>
                </div>
                <div class="span9 film-info">
                    <span><a class="alter-link" href="{{ movies.id }}">{{ movies.title|upper }}</a></span>
                    <span><small>
                        Страна:
                        {% for countrys in movies.country.all %}
                            {{ countrys }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </small></span>
                    
                    <span><small>
                        Жанр:
                        {% for genres in movies.genre.all %}
                            {{ genres }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </small></span>
                    
                    <span><small>
                        Режиссер:
                        {% for directors in movies.director.all %}
                            {{ directors }}
                        {% endfor %}
                    </small></span>

                    <span><small>
                        В ролях:
                        {% for actors in movies.actor.all %}
                            {{ actors }}
                        {% endfor %}
                    </small></span>
                    <p>{{ movies.description }}</p>
                    <span><em>Премьера в Украине: {{ movies.year_release }}</em></span>
                    <div class="footer-icons share share42init" data-path="{% static 'img/' %}"></div>
                    <ul class="nav nav-list"><li class="divider"></li></ul>
                </div>
                {% endfor %}
                {% block comment %}{% endblock %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>